<section class="team-section">
      <h2 style="color: #e64a19" class="playfair-display-font">Meet Our Team</h2>
      <div class="team-container">
        <div class="team-member">
          <img
          src="{{ url_for('static', filename='images/yash.jpg') }}"            alt="Team Member 1"
          />
          <h3>Yashwant</h3>
          <p>UI/UX Designer</p>
          <p>Short bio about the team member.</p>
          <ul class="social-icons">
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <img 
            src="{{ url_for('static', filename='images/praj.jpg') }}"
            alt="Team Member 2"
          />
          <h3>Prajwal</h3>
          <p>TheProject Manager</p>
          <p>Short bio about the team member.</p>
          <ul class="social-icons">
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <img
            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
            alt="Team Member 3"
          />
          <h3>Nihal</h3>
          <p>Frontend Developer</p>
          <p>Short bio about the team member.</p>
          <ul class="social-icons">
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        
      </div>
    </section>
</section>
