    <section class="team-section">
      <h2 style="color: #e64a19" class="playfair-display-font">Meet Our Team</h2>
      <div class="team-container">
        <div class="team-member">
          <img
            src="https://st4.depositphotos.com/12982378/22072/i/1600/depositphotos_220728252-stock-photo-handsome-adult-man-shirt-looking.jpg"
            alt="Team Member 1"
          />
          <h3>John Doe</h3>
          <p>Title/Position</p>
          <p>Short bio about the team member.</p>
          <ul class="social-icons">
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <img
            src="https://st.depositphotos.com/1743476/2514/i/950/depositphotos_25144791-stock-photo-portrait-of-happy-young-adult.jpg"
            alt="Team Member 2"
          />
          <h3>Jane Smith</h3>
          <p>Title/Position</p>
          <p>Short bio about the team member.</p>
          <ul class="social-icons">
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <img
            src="https://media.istockphoto.com/id/1200677760/photo/portrait-of-handsome-smiling-young-man-with-crossed-arms.jpg?s=612x612&w=0&k=20&c=g_ZmKDpK9VEEzWw4vJ6O577ENGLTOcrvYeiLxi8mVuo="
            alt="Team Member 3"
          />
          <h3>Michael Johnson</h3>
          <p>Title/Position</p>
          <p>Short bio about the team member.</p>
          <ul class="social-icons">
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        
      </div>
    </section>
</section>
